<head>

	{% load static %}
<!-- Compiled and minified CSS -->

    

    <!-- Compiled and minified JavaScript --> 

</head>


<body>

<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Msafiri</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
	        <li><a href="/account">{{user.username}}</a></li>
	        <li><a href="/logout">Logout</a></li>
        {% else %}
        	<li><a href="/register">Register</a></li>
	        <li><a href="/login">Login</a></li>
        {% endif %}
        
      </ul>
    </div>
</nav>


 {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}

<div class= "container">
	{% block content %}
	{% endblock %}
</div>



</body>